<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	

	<script type="text/javascript" th:inline="javascript" >
	/*<![CDATA[*/
		
	var monitorUrl = "" + /*[[${monitorUrl}]]*/;
	var mappingReply = "" + /*[[${mappingReply}]]*/;
	
	function membersData(members) {
		var data = [["_id", "name", "stateStr", "electionDate"]];
		
		for (var i = 0; i < members.length; i++) {
			var row = [ members[i]['_id'], members[i]["name"], members[i]["stateStr"], members[i]["electionDate"] ? new Date(members[i]["electionDate"]) : ""];
			data.push(row); 
		}
		return data;
	}
	
	function createMembersTable(container, data) {
		console.log('members: ' + data.length);
		var table = $("<table/>");
		
		$.each(data, function(rowIndex, r) {
			var row = $("<tr/>");
			$.each(r, function(colIndex, c) {
				row.append($("<t" + (rowIndex == 0 ? "h" : "d") + "/>").text(c));
			});
			table.append(row);
		});
		console.log('Fucking create completed');
		return container.append(table);
	}
	
	$(function() {
		console.log("Fucking monitorUrl " + monitorUrl);
		var socket = new SockJS(monitorUrl);
	    var stompClient = Stomp.over(socket);
	    
	    stompClient.connect({}, function (frame) {
	    	console.log('Connected: ' + frame);
	    	console.log('mappingReply: ' + mappingReply);	  
	    	stompClient.subscribe(mappingReply, function (data) {	    		       	
	    			console.log('>>>>> ' + data);
	        		var json = JSON.parse(data.body);
	        		console.log('Fucking json ' + json);
	        		$("#set").empty();
	        		$("#number").empty();
	        		$("#members").empty();
	        		$("#set").append("<span><strong>" + json.set +"</strong></span><br/>");
	        		$("#number").append("<span><strong>" + json.members.length +"</strong></span><br/>");
	        		var members = json.members;
	        		console.log("Fucking members: " + members);
	    			var data = membersData(members);
	    			console.log(data);
	    			console.log(new Date(json.date))
	    			createMembersTable($("#members"), data);
	    	
	    	});
	        
	    });
	    
	    /*
	    $("#send").click(function() {
			var chatMessage = {}
			chatMessage["user"] = $("#user").val();
			chatMessage["message"] = $("#message").val();
			
			stompClient.send("/my-app/chat-room",{},JSON.stringify(chatMessage));
		});
	    */
	});
	
	
	
	/*]]>*/
	</script>

	<link rel="stylesheet" th:href="@{/css/main.css}" /> 

</head>

<body>
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
        		<h1>MongoDB Replica Set Monitoring with Spring Boot</h1>
        		<p>A simple example for replica set monitoring with Spring Boot.</p>
      	</div>
	
		<div class="page-header">
        		<h1>Replica Set</h1>
      	</div>
      	<div class="row">
        	
			<div class="col-sm-8">
				<div class="panel panel-primary">
				  	<div class="panel-body">
						<div id="status">
						  <p><strong>Set:</strong>	
						  <span id="set"></span></p>
						  <p><strong>Number of Members:</strong>	
						  <span id="number"></span></p>  
						</div>
						<div id="members">
						</div>
				  	</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>