<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	
	<script type="text/javascript" th:inline="javascript" >
	/*<![CDATA[*/
		
	var monitorUrl = "" + /*[[${monitorUrl}]]*/;
	var mappingReply = "" + /*[[${mappingReply}]]*/;
	
	console.log("monitorUrl " + monitorUrl);
	console.log("mappingReply " + mappingReply);
	
	function membersData(members) {
		var headerRow = ["_id", "name", "stateStr", "electionDate"];
		var data = [headerRow];

		for (var i = 0; i < members.length; i++) {
			var row = [ members[i]['_id'], members[i]["name"], members[i]["stateStr"], members[i]["electionDate"] ? new Date(members[i]["electionDate"]) : ""];
			data.push(row); 
		}
		return data;
	}
	
	function alarmData(list) {
		var headerRow = ["address", "type", "state"];
		var data = [headerRow];
		for (var i = 0; i < list.length; i++) {
			var row = [ list[i]['address'], list[i]["type"], list[i]["state"] ];
			data.push(row); 
		}
		return data;
		
	}
	
	
	function createMembersTable(container, data) {
		if (data == null) {
			// nothing to display
			return;
		}
		console.log('members: ' + data.length);
		var table = $("<table/>");
		
		$.each(data, function(rowIndex, r) {
			var row = $("<tr/>");
			$.each(r, function(colIndex, c) {
				row.append($("<t" + (rowIndex == 0 ? "h" : "d") + "/>").text(c));
			});
			table.append(row);
		});
		console.log('create members completed');
		return container.append(table);
	}
	
	function createAlarmTable(container, data) {
		console.log('alarm: ' + data.length);
		var table = $("<table/>");
		
		$.each(data, function(rowIndex, r) {
			var row = $("<tr/>");
			$.each(r, function(colIndex, c) {
				row.append($("<t" + (rowIndex == 0 ? "h" : "d") + "/>").text(c));
			});
			table.append(row);
		});
		console.log('create alarm completed');
		return container.append(table);
	}
	
	
	
	$(function() {
		console.log("monitorUrl " + monitorUrl);
		var socket = new SockJS(monitorUrl);
	    var stompClient = Stomp.over(socket);
	    
	    stompClient.connect({}, function (frame) {
	    	console.log('Connected: ' + frame);
	    	console.log('mappingReply: ' + mappingReply);	  
	    	stompClient.subscribe(mappingReply, function (data) {	    		       	
	    		console.log('>>>>> ' + data);
	        	var jsonWrap = JSON.parse(data.body);
	        	var json = null;
	        	if (jsonWrap["code"] == "OK") {
	        		// normal case
	        		console.log("BINGO")
	        		json = jsonWrap["payload"];
	        		console.log('json ' + JSON.stringify(json));
	        		$("#set").empty();
	        		$("#number").empty();
	        		$("#members").empty();
	        		$("#alarm").empty();
	        		$("#set").append("<span><strong>" + json.set +"</strong></span><br/>");
	        		$("#number").append("<span><strong>" + json.members.length +"</strong></span><br/>");
	        		var members = json.members;
	        		console.log("members: " + members);
	    			var data = membersData(members);
	    			console.log(data);
	    			console.log(new Date(json.date))
	    			createMembersTable($("#members"), data);
	        	} else {
	        		// exception handling
	        		$("#alarm").empty();
	        		$("#members").empty(); 
	        		console.log("alarm received");
	        		json = jsonWrap["payload"];
	        		if (json != null) {
	        			$("#alarm").append("<span><strong>NO PRIMARY NODE FOUND! PLEASE START A NEW NODE!</strong></span><br />");
	 			       
	        			console.log('json ' + JSON.stringify(json));
		        		console.log('length ' + json.length);
		        		var data = alarmData(json);
		        		console.log("data " + data);
		        		//$("#alarm").append("<span><strong>NO PRIMARY NODE FOUND! PLEASE START A NEW NODE!</strong></span><br />");
		        		createAlarmTable($("#members"), data);
		   
	        		}
	        		   
	        	}// if
	    	}, () => {
	    		console.log("message: " + message)
	    	});    
	    });
	});
	
	
	/*]]>*/
	</script>

	<link rel="stylesheet" th:href="@{/css/main.css}" /> 

</head>

<body>
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
        		<h1>MongoDB Replica Set Monitoring with Spring Boot</h1>
        		<p>A simple example for replica set monitoring with Spring Boot.</p>
      	</div>
	
		<div class="page-header">
        		<h1>Replica Set</h1>
      	</div>
      	<div class="row">
        	
			<div class="col-sm-8">
				<div class="panel panel-primary">
				  	<div class="panel-body">
						<div id="status">
						  <p><strong>Set:</strong>	
						  <span id="set"></span></p>
						  <p><strong>Number of Members:</strong>	
						  <span id="number"></span></p>  
						</div>
						<div id="alarm">
						</div>
						<div id="members">
						</div>
				  	</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>